<html>
    <head>
        <title>
          {% block title %}       {% endblock %}
        </title>
        <style>
          {% block style %}       {% endblock %}
        </style>
        
    </head>
    <body>
    {% block content %}
		<div class="margin">
			{% for message in get_flashed_messages() %}
				<div class="alert alert-color" id="msgm" style="border: 1px solid white; display: inline; padding: 10px; border-radius: 7px; position: absolute; left: 20px; top: 20px; background-color: black; font-weight: bold; font-size: 15px;">
					<button type="button" class="close" data-dismiss="alert" onclick="document.getElementById('msgm').style.display='none'">&times;</button>
					{{message}}
				</div>
			{% endfor %}
			{% block page_content %}{% endblock %}
		</div>
		{% endblock %}
    </body>
</html>